@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
   *,
   *::after,
   *::before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
   }
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}

@layer components {
   .nav-item {
      @apply relative hover:text-[#61DAFB] text-white transition-all duration-300 cursor-pointer font-light;
   }
}

.glass-logo {
   backdrop-filter: blur(1.5px);
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-project {
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-header {
   border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-theme {
   backdrop-filter: blur(1.5px);
   -webkit-backdrop-filter: blur(1.5px);
   border-radius: 100%;
   border: 1px solid rgba(250, 217, 174, 0.39);
}